{% extends "config/base.frame.html" %}

{% block content_frame %}
{% set creation = lib.nav_active(request, 'frame_source_create', args=[frame.id]) %}
{% if not creation %}
  <div class="btn-group mt-3" role="group">
    <div class="btn-group" role="group">
      <button class="col-1 btn btn-primary dropdown-toggle text-truncate" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ source.name }}
      </button>
      <ul class="dropdown-menu">
        {% for source in sources %}
          {% set active = lib.nav_active(request, 'frame_source', args=[frame.id, source.id]) %}
          <li>
            <a class="dropdown-item" href="{{ url('frame_source', args=[frame.id, source.id]) }}">
            {{ source.name }}
              {% if source.update_error %}
                <span class="smaller badge rounded-pill bg-danger float-end" title="Error: {{ source.update_error }}">{{ lib.icon('error', '') }}</span>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <a class="btn btn-outline-primary" href="{{ url('frame_source_create', args=[frame.id]) }}">{{ lib.icon('action.add') }}</a>
  </div>

  <div class="btn-group mt-3" role="group">
    {% for link in [
      (lib.icon('action.view'), 'Info', 'frame_source_info', [frame.id, source.id]),
      (lib.icon('action.list'), 'Queue', 'frame_source_step_list', [frame.id, source.id]),
      (lib.icon('action.view'), 'Items', 'frame_source_images', [frame.id, source.id]),
    ] %}
      {% set active = lib.nav_active(request, link[2], args=link[3]) %}
      <a href="{{ url(link[2], args=link[3]) }}" class="btn btn-{% if not active %}outline-{% endif %}primary">
        {{ link[0] }}
        <span class="d-none d-md-inline">{{ link[1] }}</span>
      </a>
    {% endfor %}
  </div>
{% endif %}

{% block content_frame_source %}
{% endblock %}

{% endblock %}
