{% extends "common/base.html" %}

{% block content %}
<div class="row pt-3">

  {% for display in displays %}
    {{ lib.card_item(display.name, display.description if display.description else '(no description)', [
      {'title': 'View', 'icon': 'action.view', 'url': url('display_overview', args=[display.id]) }
    ], null, [
      {'title': ('enabled' if display.enabled else 'disabled'), 'type': ('success' if display.enabled else 'danger'), 'classes': 'float-end'}
    ], url('display_thumbnail', args=[display.id]),
    'col-12 col-md-6') }}
  {% else %}
    <div class="col-12">
      {{ lib.note('There is not display defined. Click on add button to create a new display.', 'info') }}
    </div>
  {% endfor %}

</div>

<div class="fixed-action-btn" style="height:80px;">
  <a class="btn btn-success btn-floating btn-lg" href="{{ url('display_create') }}">{{ lib.icon('action.add', '') }}</a>
</div>
{% endblock %}
