{% extends "config/base.display.html" %}

{% block content_display %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% set stats = display.get_latest_status(60) %}
  {% set latest_items = display.get_latest_items(10) %}
  {% set top_items = display.get_top_items(10) %}

  <div class="col">
    <div class="card mt-2">
      <div class="card-body">
        {{ lib.display_info(display, stats|first if stats else null) }}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-body text-center">
        {{ lib.display_chart_cpu(stats) }}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-body text-center">
        <h6 class="card-subtitle mb-2 text-muted">
          Latest items
        </h6>
        {% set carousel_items = latest_items|list %}
        {% if carousel_items|selectattr('data_mime') %}
          <div id="carouselPictures" class="carousel slide mt-2 w-75 h-75" data-bs-ride="carousel">
            <div class="carousel-indicators">
              {% for item in carousel_items %}
                <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}" aria-current="true" aria-label="Slide {{ loop.index + 1 }}"></button>
              {% endfor %}
            </div>
            <div class="carousel-inner bg-light rounded rounded-5">
              {% for item in carousel_items %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %} bg-light">
                  <img src="{{ url('display_item_thumbnail', args=[display.id, item.item.id]) }}" item="{{ loop.index0 }}" class="d-block w-100 h-100 rounded rounded-5" loading="lazy"/>
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        {% else %}
          (no thumbnails available)
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted text-center">
          Latest items ({{ latest_items|count }})
        </h6>
        {{ lib.list_table(latest_items, {
          'thumbnail:__self__': '',
          'item:__self__': 'Item',
          'count_hit': 'Views'
        }, {
          'thumbnail:__self__': '<img src="{{ url("display_item_thumbnail", args=[value.display.id, value.item.id]) }}" loading="lazy" style="width:2.5em;" class="border rounded"/>',
          'item:__self__': '{{ value.date_last_seen|date_format("%d.%m.%Y %H:%M") }}<br/><a href="#" data-bs-toggle="modal" data-bs-target="#displayImageTop{{ loop.index }}" title="Item #{{ value.item.id }}">{{ value.item.url }}</a>'
        }) }}
      </div>
    </div>
    {% for item in latest_items %}
      {{ lib.modal_image('displayImageLatest%s'|format(loop.index), item.item.url, item.item.url) }}
    {% endfor %}
  </div>


  <div class="col">
    <div class="card mt-2">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted text-center">
          Top items ({{ top_items|count }})
        </h6>
        {{ lib.list_table(top_items, {
          'thumbnail:__self__': '',
          'item:__self__': 'Item',
          'count_hit': 'Views'
        }, {
          'thumbnail:__self__': '<img src="{{ url("display_item_thumbnail", args=[value.display.id, value.item.id]) }}" loading="lazy" style="width:2.5em;" class="border rounded"/>',
          'item:__self__': '{{ value.date_last_seen|date_format("%d.%m.%Y %H:%M") }}<br/><a href="#" data-bs-toggle="modal" data-bs-target="#displayImageTop{{ loop.index }}" title="Item #{{ value.item.id }}">{{ value.item.url }}</a>'
        }) }}
      </div>
    </div>
    {% for item in top_items %}
      {{ lib.modal_image('displayImageTop%s'|format(loop.index), item.item.url, item.item.url) }}
    {% endfor %}
  </div>

</div>

{% endblock %}
