{% extends "config/base.display.html" %}

{% block content_display %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% set stats = display.get_latest_status(60) %}
  {% set latest_items = display.get_latest_items(10) %}
  {% set top_items = display.get_top_items(10) %}

  <div class="col">
    <div class="card mt-2">
      <div class="card-body">
        {{ lib.display_info(display, stats|first if stats else null) }}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-body text-center">
        {{ lib.display_chart_cpu(stats) }}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-body text-center">
        <h6 class="card-subtitle mb-2 text-muted">
          Latest items
        </h6>
        {% set carousel_items = latest_items|map(attribute='thumbnail')|selectattr('data_mime')|list %}
        {% if carousel_items %}
          <div id="carouselPictures" class="carousel slide mt-2 w-75 h-75" data-bs-ride="carousel">
            <div class="carousel-indicators">
              {% for item in carousel_items %}
                <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.index0 == 0 %}active{% endif %}" aria-current="true" aria-label="Slide {{ loop.index + 1 }}"></button>
              {% endfor %}
            </div>
            <div class="carousel-inner bg-light rounded rounded-5">
              {% for item in carousel_items %}
                <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %} bg-light">
                  <img src="data:{{ item.data_mime }};base64,{{ item.data()|b64encode }}" item="{{ loop.index0 }}" class="d-block w-100 h-100 rounded rounded-5" loading="lazy"/>
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        {% else %}
          (no thumbnails available)
        {% endif %}
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-body text-center">
        <h6 class="card-subtitle mb-2 text-muted">
          Latest items ({{ latest_items|count }})
        </h6>
        {{ lib.list_table(latest_items,
          {'date_last_seen': 'Date', 'item.url': 'URL', 'count_hit': 'Views' },
          {'date_last_seen': '{{ value|date_format("%Y-%m-%d %H:%M:%S") }}', 'item.url': '<a href="{{ value }}" target="_blank">{{ value }}</a>'}
        ) }}
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card mt-2">
      <div class="card-body text-center">
        <h6 class="card-subtitle mb-2 text-muted">
          Top items ({{ top_items|count }})
        </h6>
        {{ lib.list_table(top_items,
          {'date_last_seen': 'Date', 'item.url': 'URL', 'count_hit': 'Views' },
          {'date_last_seen': '{{ value|date_format("%Y-%m-%d %H:%M:%S") }}', 'item.url': '<a href="{{ value }}" target="_blank">{{ value }}</a>'}
        ) }}
      </div>
    </div>
  </div>

</div>

{% endblock %}
