{% extends "config/base.frame.sorting.html" %}

{% block content_frame_sorting %}

<div class="row pt-3">
{% for sorting in sortings %}
  {% set body %}
    {% if sorting.code_template %}
      Template:
      {{ templates[sorting.code_template]['title'] }} - {{ templates[sorting.code_template]['desc'] }}
    {% else %}
      {% for field_name, field_value in sorting.get_field_values().items() %}
        {% if field_name not in ['id', 'created', 'updated', 'frame', 'plugin', 'plugin_config', 'ordering'] and field_value != None %}
          <strong>{{ sorting.get_field(field_name).verbose_name }}:</strong> {{ field_value }}{{ "\n" }}<br/>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endset %}
  {% set badges = [
    {'title': 'error', 'type': 'danger', 'icon': 'error', 'tooltip': errors['sorting%d'|format(sorting.id)] },
  ] if 'sorting%d'|format(sorting.id) in errors else [] %}
  {% set badges = badges + [
    {'title': sorting.plugin, 'type': 'success', 'icon': 'sorting.plugin.'+sorting_plugins[sorting.plugin].cat},
    {'title': 'Weight %d'|format(sorting.weight), 'type': 'warning'}
  ] %}
  {{ lib.card_list_item(
    '<span class="%s">%d. %s</span>'|format('' if sorting.enabled else 'text-muted', loop.index, sorting.title)|safe,
    '<div class="smaller font-monospace">%s</div>'|format(body)|safe,
    [
      {'title': 'Edit', 'icon': 'action.edit', 'url': url('frame_sorting_edit', args=[frame.id, sorting.id])},
      {'title': 'Delete', 'icon': 'action.delete', 'target': 'deleteSorting%s'|format(sorting.id), 'classes': 'text-danger'}
    ],
    badges
  ) }}
  {{ lib.modal_delete('deleteSorting%s'|format(sorting.id), 'Delete sorting', 'Do you really want to delete the selected sorting "%s"?'|format(sorting.title), url('frame_sorting_action', args=[frame.id, sorting.id])+'?action=delete') }}
{% else %}
  <div class="col-12 pt-2">
    {{ lib.note('No sorting defined. Click on the add button to create a new one.', 'info') }}
  </div>
{% endfor %}
</div>

{{ lib.nav_actions([
  {'icon': 'action.add', 'modal': 'createSorting', 'type': 'success', 'title': 'Add sorting'},
]) }}

{% if 'list' in errors %}
  {{ lib.note('Error fetching items: ' + errors['list']|string, 'danger') }}
{% endif %}
 
{{ lib.list_paginator('il1', 'Sorted item list preview', items, url('frame_sorting_list', args=[frame.id])) }}
{{ lib.list_table(items, {
  'rank': 'Rank',
  '__dict__': 'Item'
}, {
  'rank': '{{ value }} <span class="text-muted d-block">+{{ item.weight }}</span>',
  '__dict__': '<span class="text-muted">{{ value.id }} - </span> {{ value.date_creation|date_format("%Y-%m-%d %H:%M") }}<br/><a href="#" data-bs-toggle="modal" data-bs-target="#itemImage{{ loop.index }}" title="Item #{{ value.id }}">{{ value.url }}</a>'
}) }}
{{ lib.list_paginator('il2', '', items, url('frame_sorting_list', args=[frame.id]), pages=10) }}

{% for item in items %}
  {{ lib.modal_image('itemImage%s'|format(loop.index), item.url, item.url) }}
{% endfor %}

{{ lib.modal_start('createSorting', 'Select sorting to create', classes='modal-fullscreen-lg-down modal-xl') }}
  <div class="row">
  {% for name, sorting_plugin in sorting_plugins.items() %}
    {{ lib.card_item(sorting_plugin.title, sorting_plugin.descr, actions=[
        {'title': 'Add', 'icon': 'action.add', 'url': url('frame_sorting_create', args=[frame.id, name])}
    ], icon=lib.icon('sorting.plugin.' + sorting_plugin.cat)) }}
  {% endfor %}
  </div>
{{ lib.modal_end() }}

{% endblock %}
