{% extends "config/base.frame.source.html" %}

{% block content_frame_source %}
<div class="pt-2">
  {{ lib.field_text('Name', source.name) }}
  {{ lib.field_text('Last update', "%s%s"|format(source.update_date_start|date_format('%Y-%m-%d %H:%M'), ' (currently runnning)' if source_running else '')) }}
  {% if source.update_interval|string == '0:00:00' %}
    {{ lib.field_text('Update interval', '(use defaults)') }}
  {% elif not source.update_interval %}
    {{ lib.field_text('Update interval', '(no automatic update)') }}
  {% else %}
    {{ lib.field_text('Update interval', source.update_interval) }}
  {% endif %}
  {% if source.update_date_end and source.update_date_start %}
    {{ lib.field_text('Update duration', (source.update_date_end - source.update_date_start)|duration) }}
  {% else %}
    {{ lib.field_text('Update duration', '(no update or not completed)') }}
  {% endif %}
  {% if source.update_error %}
    {{ lib.field_text('Update errors', '<code>'|safe + source.update_error + '</code>'|safe) }}
  {% elif source.update_status %}
    {{ lib.field_text('Update status', source.update_status) }}
  {% endif %}
  {{ lib.field_text('Update statistics', '%d total (%d errors)'|format(source.item_count_total, source.item_count_error)) }}
  {{ lib.field_list('Result mapping', {'ID': source.map_item_id_ext, 'URL': source.map_item_url, 'Date creation': source.map_item_date_creation}) }}
  {% if source.map_item_meta %}
    {{ lib.field_pre('Meta mapping', source.map_item_meta) }}
  {% else %}
    {{ lib.field_text('Meta mapping', '(no additional mapping defined)') }}
  {% endif %}
</div>

{{ lib.nav_actions([
  {'icon': 'action.delete', 'modal': 'deleteSource', 'type': 'danger'},
  {'icon': 'action.edit', 'url': url('frame_source_edit', args=[frame.id, source.id]), 'type': 'primary'},
]) }}

{% endblock %}

