{% extends "config/base.frame.html" %}

{% block content_frame %}

<div class="row pt-3">
{% for context in contexts %}
  {% set body %}
    {% for field_name, field_value in context.get_field_values().items() %}
      {% if field_name not in ['id', 'created', 'updated', 'frame', 'plugin', 'plugin_config', 'ordering'] and field_value != None %}
        <strong>{{ context.get_field(field_name).verbose_name }}:</strong> {{ field_value }}{{ "\n" }}<br/>
      {% endif %}
    {% endfor %}
  {% endset %}
  {{ lib.card_list_item(
    '<span class="%s">%d. %s</span>'|format('' if context.enabled else 'text-muted', loop.index, context.name)|safe,
    '<div class="smaller font-monospace">%s</div>'|format(body)|safe,
    [
      {'title': '', 'icon': 'action.up', 'url': url('frame_context_action', args=[frame.id, context.id]) ~ '?action=up', 'classes': 'btn-outline-primary', 'align': 'left'},
      {'title': '', 'icon': 'action.down', 'url': url('frame_context_action', args=[frame.id, context.id]) ~ '?action=down','classes': 'btn-outline-primary', 'align': 'left'},
      {'title': 'Edit', 'icon': 'action.edit', 'url': url('frame_context_edit', args=[frame.id, context.id])},
      {'title': 'Delete', 'icon': 'action.delete', 'target': 'deleteFinishingContext%s'|format(context.id), 'classes': 'text-danger'}
    ],
    [
      {'title': context.plugin, 'type': 'success', 'icon': 'context.plugin.'+context_plugins[context.plugin].cat},
    ]
  ) }}
  {{ lib.modal_delete('deleteFinishingContext%s'|format(context.id), 'Delete context', 'Do you really want to delete the selected context "%s"?'|format(context.name), url('frame_context_action', args=[frame.id, context.id])+'?action=delete') }}
{% else %}
  <div class="col-12 pt-2">
    {{ lib.note('No context defined. Click on the add button to create a new one.', 'info') }}
  </div>
{% endfor %}
</div>

{{ lib.nav_actions([
  {'icon': 'action.add', 'modal': 'createFinishingContext', 'type': 'success', 'title': 'Add context'},
]) }}

{{ lib.modal_start('createFinishingContext', 'Select context to create', classes='modal-fullscreen-lg-down modal-xl') }}
  <div class="row">
  {% for name, context_plugin in context_plugins.items() %}
    {{ lib.card_item(context_plugin.title, context_plugin.descr, actions=[
        {'title': 'Add', 'icon': 'action.add', 'url': url('frame_context_create', args=[frame.id, name])}
    ], icon=lib.icon('context.plugin.' + context_plugin.cat)) }}
  {% endfor %}
  </div>
{{ lib.modal_end() }}

{% endblock %}
