{% extends "common/base.html" %}

{% block content %}
<div class="row pt-3">

  {% for frame in frames %}
    <div class="col-md-6 mb-4">
      <div class="card  border rounded-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img src="{{ url('frame_thumbnail', args=[frame.id]) }}" alt="Thumbnail" style="object-fit: cover; width: 45px; height: 45px" class="rounded">
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ frame.name }}</p>
                <p class="text-muted mb-0">
                {% if frame.description != '' %}{{ frame.description }}{% else %}(no description){% endif %}</p>
              </div>
            </div>
            {{ lib.badge_group([{'title': ('enabled' if frame.enabled else 'disabled'), 'type': ('success' if frame.enabled else 'danger'), 'classes': 'float-end'}]) }}
          </div>
        </div>
        <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
          <a class="btn btn-link m-0 text-reset" href="{{ url('frame_info', args=[frame.id]) }}" role="button" data-ripple-color="primary">View{{ lib.icon('action.view', 'ms-2') }}</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="col-12">
      {{ lib.note('There is not frame defined. Click on add button to create a new frame.', 'info') }}
    </div>
  {% endfor %}

</div>

{{ lib.nav_actions([
  {'icon': 'action.add', 'url': url('frame_create'), 'type': 'success'},
]) }}

{% endblock %}
