{% extends "config/base.frame.sorting.html" %}

{% block content_frame_sorting %}


<ul class="list-group list-group-light">
{% for sorting in sortings %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div>
      <div class="fw-bold {% if not sorting.enabled %}text-muted{% endif %}">
        {{ loop.index }}. {{ sorting.title }}
        {% if 'sorting%d'|format(sorting.id) in errors %}
          <span title="{{ errors['sorting%d'|format(sorting.id)] }}" class="text-danger">
            {{ lib.icon('error') }}
          </span>
        {% endif %}
        <span class="badge rounded-pill badge-success">
          {{ lib.icon('sorting.plugin.'+sorting_plugins[sorting.plugin].cat) }}
          {{ sorting.plugin }}
        </span>
        <span class="badge rounded-pill badge-warning">
          Weight {{ sorting.weight }}
        </span>
      </div>
      <div class="text-muted smaller font-monospace">
        {% if sorting.code_template %}
          Template:
          {{ templates[sorting.code_template]['title'] }} - {{ templates[sorting.code_template]['desc'] }}
        {% else %}
          {% for field_name, field_value in sorting.get_field_values().items() %}
            {% if field_name not in ['id', 'created', 'updated', 'frame', 'plugin', 'plugin_config', 'ordering'] and field_value != None %}
              <strong>{{ sorting.get_field(field_name).verbose_name }}:</strong> {{ field_value }}{{ "\n" }}<br/>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="ms-0 pt-2 pb-2">
      <div class="btn-group-vertical h-100" role="group" aria-label="Vertical button group">
        <a href="{{ url('frame_sorting_edit', args=[frame.id, sorting.id]) }}" class="btn btn-sm btn-xs btn-secondary">{{ lib.icon('action.edit') }}</a>
        <a href="#" class="btn btn-sm btn-xs btn-danger" data-bs-toggle="modal" data-bs-target="#{{ 'deleteSorting%s'|format(sorting.id) }}">{{ lib.icon('action.delete') }}</a>
      </div>
    </div>
    {{ lib.modal_delete('deleteSorting%s'|format(sorting.id), 'Delete sorting', 'Do you really want to delete the selected sorting "%s"?'|format(sorting.title), url('frame_sorting_action', args=[frame.id, sorting.id])+'?action=delete') }}
  </li>
{% else %}
  <div class="col-12 pt-2">
    {{ lib.note('No sorting defined. Click on the add button to create a new one.', 'info') }}
  </div>
{% endfor %}
</ul>

{{ lib.nav_actions([
  {'icon': 'action.add', 'modal': 'createSorting', 'type': 'success'},
]) }}

{% if 'list' in errors %}
  {{ lib.note('Error fetching items: ' + errors['list']|string, 'danger') }}
{% endif %}
 
{{ lib.list_paginator('il1', 'Sorted item list preview', items, url('frame_sorting_list', args=[frame.id])) }}
{{ lib.list_table(items, {'rank': 'Rank', 'id': 'ID', '__dict__':'URL', 'date_creation': 'Date'}, {'__dict__': '<a href="#" data-bs-toggle="modal" data-bs-target="#itemImage{{ loop.index }}" title="Item #{{ value.id }}">{{ value.url }}</a>'}) }}
{{ lib.list_paginator('il2', '', items, url('frame_sorting_list', args=[frame.id]), pages=10) }}

{% for item in items %}
  {{ lib.modal_image('itemImage%s'|format(loop.index), item.url, item.url) }}
{% endfor %}

{{ lib.modal_start('createSorting', 'Select sorting to create', classes='modal-fullscreen-lg-down modal-xl') }}
  <div class="row">
  {% for name, sorting_plugin in sorting_plugins.items() %}
    {{ lib.card_item(sorting_plugin.title, sorting_plugin.descr, actions=[
        {'title': 'Add ' + lib.icon("action.add", "ms-2"), 'url': url('frame_sorting_create', args=[frame.id, name])}
    ], icon=lib.icon('sorting.plugin.' + sorting_plugin.cat)) }}
  {% endfor %}
  </div>
{{ lib.modal_end() }}

{% endblock %}
