{% extends "config/base.html" %}

{% block content %}
<div class="row pt-3">

  {% for frame in frames %}
    <div class="col-md-6 mb-4">
      <div class="card  border rounded-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              {{ lib.icon('frame', 'fa-3x') }}
              <div class="ms-3">
                <p class="fw-bold mb-1">{{ frame.name }}</p>
                <p class="text-muted mb-0">
                {% if frame.description != '' %}{{ frame.description }}{% else %}(no description){% endif %}</p>
              </div>
            </div>
            {{ lib.badge_group([{'title': ('enabled' if frame.enabled else 'disabled'), 'type': ('success' if frame.enabled else 'danger')}]) }}
          </div>
        </div>
        <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
          <a class="btn btn-link m-0 text-reset" href="{{ url('frame_info', args=[frame.id]) }}" role="button" data-ripple-color="primary">View{{ lib.icon('action.view', 'ms-2') }}</a>
        </div>
      </div>
    </div>
  {% else %}
    <div class="col-12">
      {{ lib.note('There is not frame defined. Click on add button to create a new frame.', 'info') }}
    </div>
  {% endfor %}

  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/6.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">Alex Ray</p>
              <p class="text-muted mb-0">alex.ray@gmail.com</p>
            </div>
          </div>
          <span class="badge rounded-pill badge-primary"
            >Onboarding</span
          >
        </div>
      </div>
      <div
        class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
      >
        <a
          class="btn btn-link m-0 text-reset"
          href="#"
          role="button"
          data-ripple-color="primary"
          >Message<i class="fas fa-envelope ms-2"></i
        ></a>
        <a
          class="btn btn-link m-0 text-reset"
          href="#"
          role="button"
          data-ripple-color="primary"
          >Call<i class="fas fa-phone ms-2"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/7.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">Kate Hunington</p>
              <p class="text-muted mb-0">kate.hunington@gmail.com</p>
            </div>
          </div>
          <span class="badge rounded-pill badge-warning">Awaiting</span>
        </div>
      </div>
      <div
        class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
      >
        <a
          class="btn btn-link m-0 text-reset"
          href="#"
          role="button"
          data-ripple-color="primary"
          >Message<i class="fas fa-envelope ms-2"></i
        ></a>
        <a
          class="btn btn-link m-0 text-reset"
          href="#"
          role="button"
          data-ripple-color="primary"
          >Call<i class="fas fa-phone ms-2"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <img
              src="https://mdbootstrap.com/img/new/avatars/3.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
            />
            <div class="ms-3">
              <p class="fw-bold mb-1">Michael Bale</p>
              <p class="text-muted mb-0">michael.bale@gmail.com</p>
            </div>
          </div>
          <span class="badge rounded-pill badge-danger">Removed</span>
        </div>
      </div>
      <div
        class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
      >
        <a
          class="btn btn-link m-0 text-reset"
          href="#"
          role="button"
          data-ripple-color="primary"
          >Message<i class="fas fa-envelope ms-2"></i
        ></a>
        <a
          class="btn btn-link m-0 text-reset"
          href="#"
          role="button"
          data-ripple-color="primary"
          >Call<i class="fas fa-phone ms-2"></i
        ></a>
      </div>
    </div>
  </div>

</div>

{{ lib.nav_actions([
  {'icon': 'action.add', 'url': url('frame_create'), 'type': 'success'},
]) }}

{% endblock %}
