{% extends "config/base.frame.source.html" %}

{% block content_frame_source %}

<div class="row pt-3">
{% for source_step in source.steps.all() %}
  {% set title %}
    {{ source_step.title }}
    {% if source_step.merge_in %}
      {{ lib.icon('source.mergein', '') }}
    {% endif %}
    {% if source_step.loop_out %}
      {{ lib.icon('source.loopout', '') }}
    {% endif %}
  {% endset %}
  {% set badges = [{'title': source_step.plugin, 'type': 'success', 'icon': 'source.plugin.'+source_plugins[source_step.plugin].cat}] %}
  {% if source_step.instance %}
    {% set badges = badges + [{'title': source_step.instance, 'type': 'info', 'icon': 'source.instance'}] %}
  {% endif %}
  {% if source_step.data_in %}
    {% set badges = badges + [{'title': source_step.data_in, 'type': 'warning', 'icon': 'source.input'}] %}
  {% endif %}
  {% if source_step.data_out %}
    {% set badges = badges + [{'title': source_step.data_out, 'type': 'warning', 'icon': 'source.output'}] %}
  {% endif %}

  {{ lib.card_list_item(
    '<span>%d. %s</span>'|format(loop.index, title)|safe,
    source_step.description,
    [
      {'title': '', 'icon': 'action.up', 'url': url('frame_source_step_action', args=[frame.id, source.id, source_step.id]) ~ '?action=up', 'classes': 'btn-outline-primary position-static', 'align': 'left'},
      {'title': '', 'icon': 'action.down', 'url': url('frame_source_step_action', args=[frame.id, source.id, source_step.id]) ~ '?action=down','classes': 'btn-outline-primary position-static', 'align': 'left'},
      {'title': 'Edit', 'icon': 'action.edit', 'url': url('frame_source_step_edit', args=[frame.id, source.id, source_step.id])},
      {'title': 'Delete', 'icon': 'action.delete', 'target': 'deleteStep%s'|format(source_step.id), 'classes': 'text-danger'}
    ],
    badges
  ) }}
  {{ lib.modal_delete('deleteStep%s'|format(source_step.id), 'Delete step', 'Do you really want to delete the selected step "%s"?'|format(source_step.title), url('frame_source_step_action', args=[frame.id, source.id, source_step.id])+'?action=delete') }}
{% else %}
  <div class="col-12 pt-2">
    {{ lib.note('No step defined in this source. Click on the add button to create a new one.', 'info') }}
  </div>
{% endfor %}
</div>

{{ lib.nav_actions([
  {'icon': 'action.run', 'modal': 'updateSteps', 'type': 'primary', 'classes': 'disabled' if source_running else '', 'title': 'Run queue'},
  {'icon': 'action.add', 'modal': 'createStepType', 'type': 'success', 'title': 'Add step'},
]) }}

{{ lib.modal_start('createStepType', 'Select type to add', classes='modal-fullscreen-lg-down modal-xl') }}
  <div class="row">
  {% for name, plugin in source_plugins.items() %}
    {{ lib.card_item(plugin.title, plugin.descr, actions=[
        {'title': 'Add ' + lib.icon("action.add", "ms-2"), 'url': url('frame_source_step_create', args=[frame.id, source.id, plugin.name])}
    ], icon=lib.icon('source.plugin.'+plugin.cat)) }}
  {% endfor %}
  </div>
{{ lib.modal_end() }}

{{ lib.modal_confirm('updateSteps', 'Run step queue', 'Execute all steps in queue and refresh the item list?', url('frame_source_action', args=[frame.id, source.id]) + '?action=run', 'Yes, update item list') }}

{% endblock %}

