{% extends "config/base.frame.html" %}

{% block content_frame %}

<ul class="list-group list-group-light">
{% for finishing in finishings %}
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <div class="w-100">
      <div class="position-absolute">
        <a href="{{ url('frame_finishing_action', args=[frame.id, finishing.id]) }}?action=up" class="btn btn-sm btn-xs btn-outline-primary mb-1">{{ lib.icon('action.up', '') }}</a><br/>
        <a href="{{ url('frame_finishing_action', args=[frame.id, finishing.id]) }}?action=down" class="btn btn-sm btn-xs btn-outline-primary mb-1">{{ lib.icon('action.down', '') }}</a>
      </div>
      <div class="ms-5 fw-bold {% if not finishing.enabled %}text-muted{% endif %}">
        <div class="d-inline-block col-auto col-12 col-md-auto">
          {{ loop.index }}. {{ finishing.title }}
        </div>
        <span class="badge rounded-pill badge-success">
          {{ lib.icon('finishing.plugin.'+finishing_plugins[finishing.plugin].cat) }}
          {{ finishing.plugin }}
        </span>
        {% if finishing.image_in %}
          <span class="badge rounded-pill badge-warning">{{ lib.icon('finishing.input') }} {{ finishing.image_in }}</span>
        {% endif %}
        {% if finishing.image_out %}
          <span class="badge rounded-pill badge-warning">{{ lib.icon('finishing.output') }} {{ finishing.image_out }}</span>
        {% endif %}
      </div>
      <div class="ms-5 text-muted smaller font-monospace">
        {% for field_name, field_value in finishing.get_field_values().items() %}
          {% if field_name not in ['id', 'created', 'updated', 'frame', 'plugin', 'plugin_config', 'ordering'] and field_value != None %}
            <strong>{{ finishing.get_field(field_name).verbose_name }}:</strong> {{ field_value }}{{ "\n" }}<br/>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="ms-0 pt-2 pb-2">
      <div class="btn-group-vertical h-100" role="group" aria-label="Vertical button group">
        <a href="{{ url('frame_finishing_edit', args=[frame.id, finishing.id]) }}" class="btn btn-sm btn-xs btn-secondary">{{ lib.icon('action.edit') }}</a>
        <a href="#" class="btn btn-sm btn-xs btn-danger" data-bs-toggle="modal" data-bs-target="#{{ 'deleteFinishing%s'|format(finishing.id) }}">{{ lib.icon('action.delete') }}</a>
      </div>
    </div>
    {{ lib.modal_delete('deleteFinishing%s'|format(finishing.id), 'Delete finishing', 'Do you really want to delete the selected finishing "%s"?'|format(finishing.title), url('frame_finishing_action', args=[frame.id, finishing.id])+'?action=delete') }}
  </li>
{% else %}
  <div class="col-12 pt-2">
    {{ lib.note('No finishings defined. Click on the add button to create a new one.', 'info') }}
  </div>
{% endfor %}
</ul>

{{ lib.nav_actions([
  {'icon': 'action.view', 'modal': 'showPreview', 'type': 'primary'},
  {'icon': 'action.add', 'modal': 'createFinishing', 'type': 'success'},
]) }}

{{ lib.modal_start('createFinishing', 'Select finishing to create', classes='modal-fullscreen-lg-down modal-xl') }}
  <div class="row">
  {% for name, finishing_plugin in finishing_plugins.items() %}
    {{ lib.card_item(finishing_plugin.title, finishing_plugin.descr, actions=[
        {'title': 'Add ' + lib.icon("action.add", "ms-2"), 'url': url('frame_finishing_create', args=[frame.id, name])}
    ], icon=lib.icon('finishing.plugin.' + finishing_plugin.cat)) }}
  {% endfor %}
  </div>
{{ lib.modal_end() }}

{{ lib.modal_start('showPreview', 'Previewing finishing', classes='modal-fullscreen-lg-down modal-xl') }}
  <div class="row">
    <div class="col-auto">
      The following picture shows a preview with the configured finishings
      applied.
    </div>
  </div>
  <div class="row">
    <div class="mt-2 text-center">
      <div class="position-relative w-100 h-100">
        <div id="previewImageSpinner" class="position-absolute top-50 start-50 translate-middle d-none" role="status">
          <img src="{{ static('common/logo.svg') }}" class="w-25 h-25 fa-spin"/>
        </div>
        <div id="previewImageMessage" class="position-absolute top-50 start-50 translate-middle d-none text-white" role="status">Image preview generation failed. Try again later.
        </div>
        <img id="showPreviewImage" src="{{ static('common/1x1-transparent.png') }}" class="border border-dark col-12 col-md-8 bg-black">
      </div>
    </div>

    <div class="text-center">
      <div class="btn-group mt-2 p-0 text-center w-50" role="group">
        <button id="prev-size1" type="button" class="btn btn-primary text-lowercase active" size="1024,768">1024x768</button>
        <button id="prev-size2" type="button" class="btn btn-primary text-lowercase" size="1200,600">1200x600</button>
        <button id="prev-size3" type="button" class="btn btn-primary text-lowercase" size="600,1200">600x1200</button>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const showPreviewSizes = ['prev-size1', 'prev-size2', 'prev-size3'];
    const showPreviewModal = document.getElementById('showPreview');
    const showPreviewImage = document.getElementById('showPreviewImage');
    const showPreviewImageDefault = showPreviewImage.src;
    const previewImageSpinner = document.getElementById('previewImageSpinner');
    const previewImageMessage = document.getElementById('previewImageMessage');
    function refreshPreview(e) {
      let clickedSize = (e.type == 'click') ? e.target.id : undefined;
      let showPreviewSize = document.getElementById(showPreviewSizes[0]);
      showPreviewSizes.forEach(id => {
        const previewSizeElement = document.getElementById(id);
        if (clickedSize != undefined) {
          if (previewSizeElement.id == clickedSize) {
            if (previewSizeElement.className.indexOf('active') == -1) {
              previewSizeElement.className += ' active';
            }
          } else {
            previewSizeElement.className = previewSizeElement.className.replace(/\s*active/, '');
          }
        } else if (previewSizeElement.className.indexOf('active') != -1) {
          showPreviewSize = previewSizeElement;
        }
      });
      const previewGeo = showPreviewSize.getAttribute('size').split(',');
      cssAdd(previewImageMessage, 'd-none');
      cssRemove(previewImageSpinner, 'd-none');
      showPreviewImage.src = showPreviewImageDefault;
      showPreviewImage.src = 'images/preview?w=' + previewGeo[0] + '&h=' + previewGeo[1] + '&ts=' + new Date().getTime();
    }
    showPreviewModal.addEventListener('shown.bs.modal', refreshPreview);
    showPreviewSizes.forEach(id => {
      document.getElementById(id).addEventListener('click', refreshPreview);
    });
    showPreviewImage.onload = function() {
      if (showPreviewImage.complete) {
        cssAdd(previewImageSpinner, 'd-none')
      }
    };
    showPreviewImage.onerror = function() {
      showPreviewImage.src = showPreviewImageDefault;
      cssRemove(previewImageMessage, 'd-none');
    };
  </script>
{{ lib.modal_end() }}

{% endblock %}
