{% extends "config/base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
  {% set display = displays[0] if displays|length else null %}
  {% set stats = display.get_latest_status(60) if display else [] %}
  {% set status = stats|last if stats|length else null %}
  {% set items = display.get_latest_items(5) if display else null %}

  {% if 'frames_chart' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-muted">
            Frames {% if frames|length %}({{ frames|length }}){% endif %}
          </h6>
          {% if frames|length %}
            {% set frames_enabled = frames|selectattr("enabled", "true")|list|length %}
            {% set frames_disabled = frames|selectattr("enabled", "false")|list|length %}
            {{ lib.chart_doughnut('frames-chart', [
              'Enabled (%d)'|format(frames_enabled),
              'Disabled (%d)'|format(frames_disabled)
            ],  [frames_enabled, frames_disabled]) }}
            <a href="{{ url('frame_list') }}" class="btn btn-primary btn-xs">List</a>
          {% else %}
            Create a new frame and associate some media files to it.<br/>
            <a href="{{ url('frame_create') }}" class="btn btn-primary btn-xs m-5">Add</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if 'displays_chart' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-muted">
            Displays {% if displays|length %}({{ displays|length }}){% endif %}
          </h6>
          {% if displays|length %}
            {% set displays_enabled = displays|selectattr("enabled", "true")|list|length %}
            {% set displays_disabled = displays|selectattr("enabled", "false")|list|length %}
            {{ lib.chart_doughnut('displays-chart', [
              'Enabled (%d)'|format(displays_enabled),
              'Disabled (%d)'|format(displays_disabled)
            ],  [displays_enabled, displays_disabled]) }}
            <a href="{{ url('display_list') }}" class="btn btn-primary btn-xs">List</a>
          {% else %}
            To be able to show the media files of a frame create a display
            and assign a frame to it.<br/>
            <a href="{{ url('display_create') }}" class="btn btn-primary btn-xs m-5">Add</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if 'display_info' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-header bg-info text-white">{{ lib.icon('display') }} Display</div>
        {% if display %}
          <div class="card-body">
            {{ lib.display_info(display, status) }}
            <div class="text-center">
              <a href="{{ url('display_info', args=[display.id]) }}" class="btn btn-primary btn-xs">Open</a>
            </div>
          </div>
        {% else %}
          <div class="card-body text-center">
            To be able to show some details about the display create a new one.<br/>
            <a href="{{ url('display_create') }}" class="btn btn-primary btn-xs m-5">Add</a>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}

  {% if 'display_pictures' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-header">{{ lib.icon('frame') }} Pictures</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Current and latest picture shown</h6>
          {% if items %}
            <p class="card-text">
              <div id="displayPictures" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  {% for item in items %}
                    <button type="button" data-bs-target="#displayPictures" data-bs-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active" aria-current="true"{% endif %} aria-label="Picture {{ loop.index }}"></button>
                  {% endfor %}
                </div>
                <div class="carousel-inner">
                  {% for item in items %}
                    <div class="carousel-item{% if loop.first %} active{% endif %}">
                      <img src="{{ item.item.url }}" class="d-block w-100" alt="Picture {{ loop.index }}">
                    </div>
                  {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#displayPictures" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#displayPictures" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </p>
          {% elif display.frame.items.count() %}
            <div class="card-body text-center">
              Currently no pictures served by the display. If you want you can check the the
              display or frame settings.<br/>
            </div>
            <div class="text-center">
              <a href="{{ url('frame_info', args=[display.frame.id]) }}" class="btn btn-primary btn-xs">Open display</a>
              <a href="{{ url('display_info', args=[display.id]) }}" class="btn btn-primary btn-xs">Open frame</a>
            </div>
          {% elif display.frame.items.count() %}
            <div class="card-body text-center">
              Currently no pictures shown on this display. There's no frame assigned to this
              display or the frame does not have items currently.<br/>
            </div>
            <div class="text-center">
              <a href="{{ url('frame_create') }}" class="btn btn-primary btn-xs">Create frame</a>
              <a href="{{ url('display_edit', args=[display.id]) }}" class="btn btn-primary btn-xs">Assign frame</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if 'system_info' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-header bg-info text-white">{{ lib.icon('system') }} System</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">System information</h6>
          <ul class="card-text">
            <li><strong>{{ '%d'|format(system.uptime / 60 / 60 / 24) }}</strong> days running</li>
            <li><strong>{{ '%.2f'|format(system.cpu.load) }}</strong> CPU load at <strong>{{ '%.1f'|format(system.cpu.temp) }}°C</strong></li>
            <li>
              <strong>{{ '%d'|format(system.disk.data.used * 100 / (system.disk.data.used + system.disk.data.free)) }}%</strong> disk usage,
              <strong>{{ lib.format_bytes(system.disk.data.used) }}</strong> of {{ lib.format_bytes(system.disk.data.used + system.disk.data.free, true) }}
            </li>
            <li>
              <strong>{{ '%d'|format(system.memory.used * 100 / (system.memory.used + system.memory.free)) }}%</strong> memory usage,
              <strong>{{ lib.format_bytes(system.memory.used) }}</strong> of {{ lib.format_bytes(system.memory.used + system.memory.free, true) }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if 'software_info' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-header">{{ lib.icon('software') }} Software</div>
        <div class="card-body">
          <ul class="card-text">
            <li>Software Version:<br/>- {{ system.app.revision }} - {{ system.app.date }}</li>
            <li>Available Versions:<br/>{% for revision in system.app.revisions %}- {{ revision }}<br/>{% endfor %}</li>
            <li>Environment: <strong>{% if config %}{{ config.mode }}{% else %}cloud{% endif %}</strong> setup</li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if 'system_stats' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-header">{{ lib.icon('system') }} Statistics</div>
        <div class="card-body">
          {{ lib.display_chart_cpu(stats) }}
        </div>
      </div>
    </div>
  {% endif %}

</div>
{% endblock %}
