{% extends "config/base.html" %}

{% block content %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">

  {% if 'frames_chart' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-muted">
            Frames {% if frames|length %}({{ frames|length }}){% endif %}
          </h6>
          {% if frames|length %}
            {% set frames_enabled = frames|selectattr("enabled", "true")|list|length %}
            {% set frames_disabled = frames|selectattr("enabled", "false")|list|length %}
            {{ lib.chart_doughnut('frames-chart', [
              'Enabled (%d)'|format(frames_enabled),
              'Disabled (%d)'|format(frames_disabled)
            ],  [frames_enabled, frames_disabled]) }}
            <a href="{{ url('frame_list') }}" class="btn btn-primary btn-xs">List</a>
          {% else %}
            Create a new frame and associate some media files to it.<br/>
            <a href="{{ url('frame_create') }}" class="btn btn-primary btn-xs m-5">Add</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if 'displays_chart' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-body text-center">
          <h6 class="card-subtitle mb-2 text-muted">
            Displays {% if displays|length %}({{ displays|length }}){% endif %}
          </h6>
          {% if displays|length %}
            {% set displays_enabled = displays|selectattr("enabled", "true")|list|length %}
            {% set displays_disabled = displays|selectattr("enabled", "false")|list|length %}
            {{ lib.chart_doughnut('displays-chart', [
              'Enabled (%d)'|format(displays_enabled),
              'Disabled (%d)'|format(displays_disabled)
            ],  [displays_enabled, displays_disabled]) }}
            <a href="{{ url('display_list') }}" class="btn btn-primary btn-xs">List</a>
          {% else %}
            To be able to show the media files of a frame create a display
            and assign a frame to it.<br/>
            <a href="{{ url('display_create') }}" class="btn btn-primary btn-xs m-5">Add</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  <div class="col">
    <div class="card mt-2">
      <div class="card-header bg-info text-white">{{ lib.icon('display') }} Display</div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Runtime information</h6>
        <ul class="card-text">
          <li><strong>Test</strong> frame providing data</li>
          <li>on a <strong>1440x900</strong> pixel frame</li>
          <li>with <strong>315</strong> pictures in collection</li>
          <li><strong>1053</strong> pictures served</li>
          <li><strong>5</strong> minutes rotation</li>
          <li>Display is <strong>on</strong></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card mt-2">
      <div class="card-header">{{ lib.icon('frame') }} Pictures</div>
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Current and latest picture shown</h6>
        <p class="card-text">

          <div id="carouselPictures" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="3" aria-label="Slide 4"></button>
              <button type="button" data-bs-target="#carouselPictures" data-bs-slide-to="4" aria-label="Slide 5"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="http://digiframe.home/digiframe/index.php?cmd=picture&picture=1&dl=th" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="http://digiframe.home/digiframe/index.php?cmd=picture&picture=2&dl=th" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="http://digiframe.home/digiframe/index.php?cmd=picture&picture=3&dl=th" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="http://digiframe.home/digiframe/index.php?cmd=picture&picture=4&dl=th" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="http://digiframe.home/digiframe/index.php?cmd=picture&picture=5&dl=th" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselPictures" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPictures" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </p>
      </div>
    </div>
  </div>

  {% if 'system_info' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-header bg-info text-white">{{ lib.icon('system') }} System</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Runtime information</h6>
          <ul class="card-text">
            <li><strong>54</strong> days running</li>
            <li><strong>0.8</strong> load, <strong>49.6°C</strong> CPU</li>
            <li><strong>72%</strong> disk usage, <strong>386</strong>/500 MB</li>
            <li><strong>26%</strong> memory usage, <strong>86</strong>/512 MB</li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

  {% if 'software_info' in dashboards %}
    <div class="col">
      <div class="card mt-2">
        <div class="card-header">{{ lib.icon('info') }} Status</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">System information</h6>
          <ul class="card-text">
            <li>Software Version: 1.342.123 (update available)</li>
            <li>Environment:
            {% if config %}{{ config.mode }}{% else %}cloud{% endif %} setup</li>
            <li>Messages: 5 (see list)</li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
  {% endif %}

</div>
{% endblock %}
