{% extends "frontend/dashboard.base.html" %}

{% block content_dashboard %}

<div class="pt-2">
  {{ lib.field_text('Uptime', '%d days, %d hours, %d minutes'|format(sys['uptime']['days'], sys['uptime']['hours'], sys['uptime']['minutes'])) }}
  {{ lib.field_text('Memory usage', '%d%% of %d MB (%d MB free)'|format(mem['usage'], mem['total']/1024, mem['free']/1024)) }}
  {{ lib.field_text('CPU', '%.2f load, %d °C'|format(cpu['load'], cpu['temp'])) }}
  {{ lib.field_text('Network', '%s IP %s, Gateway %s'|format(network['config']['mode'], network['config']['ip']|join(', '), network['config']['gateway'])) }}
</div>

{% endblock %}
