{% extends "frontend/dashboard.base.html" %}

{% block content_dashboard %}

<div class="pt-2">
  {{ lib.field_text('Version', '%s (%s, %s)'|format(app.revision.current, app.revision.date|date_format('%d.%m.%Y'), app.revision.hash)) }}
  {{ lib.field_text('Update check', '%s (%s)'|format(
    'each %s'|format(app_update_check|duration) if app_update_check else 'manually',
    'checked %s ago'|format(app_update_check_date|duration(short=true)) if app_update_check_date else 'not checked'
  )) }}
  {% if app_update_check_status and 'Error' in app_update_check_status %}
    {{ lib.field_text('', '<span class="text-danger">%s</span>'|format(app_update_check_status)|safe) }}
  {% elif app_update_check_status %}
    {{ lib.field_text('', app_update_check_status) }}
  {% endif %}
  {{ lib.field_text('Update install', '%s%s'|format(
    'automatically' if app_update_install else 'manually',
    '%s'|format(', anytime' if not app_update_install_hour else ', between %d and %d o\'clock'|format(app_update_install_hour.seconds/60/60, 2+app_update_install_hour.seconds/60/60)) if app_update_install else ''
  )) }}
  {% set app_updates = namespace(items = []) %}
  {% for app_rev in app.revision.revisions[0:8] %}
    {% if app_rev in app.revision.updates %}
      {% set app_update = app.revision.updates[app_rev] %}
      {% set app_updates.items = app_updates.items + ['<span class="text-success">%s (%s, %s)</span><br/>'|format(
        app_rev, app_update['date']|date_format('%d.%m.%Y'), app_update['hash']
      )|safe] %}
    {% else %}
      {% set app_updates.items = app_updates.items + ['<span class="text-muted">%s</span><br/>'|format(
        app_rev
      )|safe] %}
    {% endif %}
  {% endfor %}
  {{ lib.field_list('Versions', app_updates.items) }}
</div>

<div class="pt-4 text-center">
  <a data-bs-toggle="modal" data-bs-target="#appCheck" class="btn btn-{% if not check and not update %}outline-{% endif %}primary btn-floating btn-lg{% if check or update %} disabled{% endif %}" title="Check for updates">{{ lib.icon('action.refresh') }}</a>
  <a data-bs-toggle="modal" data-bs-target="#appUpdate" class="btn btn-{% if not check and not update and app.revision.updates %}outline-{% endif %}primary btn-floating btn-lg{% if check or update or not app.revision.updates %} disabled{% endif %}" title="Update to revision">{{ lib.icon('action.update') }}</a>
</div>

{{ lib.modal_start('appCheck', 'Check for updates') }}
  <strong>Do you want to start the check for updates to find new versoins?</strong>
  {{ lib.form_start(form_check, csrf_input) }}
  {{ lib.form_fields(form_check) }}
  {{ lib.form_end(form_check, submit_title='Check', cancel_title='Close', cancel=url('fe_dashboard_software')) }}
{{ lib.modal_end(submit=None, cancel_title=None) }}

{{ lib.modal_start('appUpdate', 'Update') }}
  <strong>Do you want to start an update to a given version?</strong>
  {{ lib.form_start(form_update, csrf_input) }}
  {{ lib.form_fields(form_update) }}
  {{ lib.form_end(form_update, submit_title='Update', cancel_title='Close', cancel=url('fe_dashboard_software')) }}
{{ lib.modal_end(submit=None, cancel_title=None) }}

{% endblock %}
