{% extends "frontend/base.html" %}

{% if config.mode == 'local' %}
  {% if 'server' in MODES %}
    {% set config_url = url('index') %}
  {% endif %}
  {% set setup_url = url('fe_setup_mode_local') %}
{% else %}
  {% set config_url = config.cloud_server + '/config/' %}
  {% set setup_url = url('fe_setup_mode_cloud') %}
{% endif %}

{% block content %}

<ul class="nav nav-tabs pt-2">
  <li class="nav-item">
    <a class="nav-link p-3{{ lib.nav_active(request, 'fe_dashboard') }}" href="{{ url('fe_dashboard') }}">{{ lib.icon('frontend.overview') }}<span class="d-none d-lg-inline"></span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link p-3{{ lib.nav_active(request, 'fe_dashboard_display') }}" href="{{ url('fe_dashboard_display') }}">{{ lib.icon('frontend.display') }}<span class="d-none d-lg-inline"></span></a>
  </li>
  <!-- li class="nav-item">
    <a class="nav-link p-3{{ lib.nav_active(request, 'fe_system') }}" href="{{ url('fe_dashboard') }}">{{ lib.icon('frontend.system') }}<span class="d-none d-lg-inline"></span></a>
  </li -->
  <li class="nav-item">
    <a class="nav-link p-3{{ lib.nav_active(request, 'fe_dashboard_device') }}" href="{{ url('fe_dashboard_device') }}">{{ lib.icon('frontend.device') }}<span class="d-none d-lg-inline"></span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link p-3{{ lib.nav_active(request, 'fe_dashboard_software') }}" href="{{ url('fe_dashboard_software') }}">{{ lib.icon('frontend.software') }}<span class="d-none d-lg-inline"></span></a>
  </li>
  <!-- li class="nav-item">
    <a class="nav-link p-3{{ lib.nav_active(request, 'fe_dashboard') }}" href="{{ url('fe_dashboard') }}">{{ lib.icon('system') }}<span class="d-none d-lg-inline"> System</span></a>
  </li -->
  <li class="col">
    {% if config_url %}
      <a href="{{ config_url }}" class="ms-1 mt-2 btn btn-sm btn-outline-gray float-end" title="Open configuration">{{ lib.icon('frontend.config', 'p-0 m-0') }}</a>
    {% endif %}
    {% if lib.nav_active(request, 'fe_dashboard') %}
      <a href="{{ setup_url }}" class="ms-1 mt-2 btn btn-sm btn-outline-gray float-end" title="Mode settings">{{ lib.icon('action.edit', 'p-0 m-0') }}</a>
    {% endif %}
    {% if lib.nav_active(request, 'fe_dashboard_display') %}
      <a href="{{ url('fe_setup_display') }}" class="ms-1 mt-2 btn btn-sm btn-outline-gray float-end" title="Display settings">{{ lib.icon('action.edit', 'p-0 m-0') }}</a>
    {% endif %}
    {% if lib.nav_active(request, 'fe_dashboard_software') %}
      <a href="{{ url('fe_setup_software') }}" class="ms-1 mt-2 btn btn-sm btn-outline-gray float-end" title="Software settings">{{ lib.icon('action.edit', 'p-0 m-0') }}</a>
    {% endif %}
  </li>
</ul>

{% block content_dashboard %}
{% endblock %}

{% endblock %}
