{% extends "frontend/dashboard.base.html" %}

{% block content_dashboard %}

<div class="pt-2">
  {{ lib.field_text('Version', '%s (%s, %s)'|format(app.revision.branch, app.revision.date|date_format('%d.%m.%Y'), app.revision.hash)) }}
  {{ lib.field_text('Update check', '%s (%s)'|format(
    'each %s%s'|format(app_update_check|duration, ' and install them' if app_update_install else '') if app_update_check else 'manually',
    'last %s ago'|format(app_update_check_date|duration(short=true) if app_update_check_date else 'not checked')
  )) }}
  {% if app.revision['update'] %}
    {{ lib.field_text('New version', '%s (%s, %s)'|format(app.revision['update'].ref, app.revision['update'].date|date_format('%d.%m.%Y'), app.revision['update'].hash)) }}
  {% endif %}
  {{ lib.field_list('Available', app.revision.revisions[0:8]) }}
</div>

<div class="pt-4 text-center">
  <a data-bs-toggle="modal" data-bs-target="#appCheck" class="btn btn-{% if not check and not update %}outline-{% endif %}primary btn-floating btn-lg{% if check or update %} disabled{% endif %}" title="Check for updates">{{ lib.icon('action.refresh') }}</a>
  <a data-bs-toggle="modal" data-bs-target="#appUpdate" class="btn btn-{% if not check and not update %}outline-{% endif %}primary btn-floating btn-lg{% if check or update %} disabled{% endif %}" title="Update to revision">{{ lib.icon('action.update') }}</a>
</div>

{{ lib.modal_start('appCheck', 'Check for updates') }}
  <strong>Do you want to start the check for updates to find new versoins?</strong>
  {{ lib.form_start(form_check, csrf_input) }}
  {{ lib.form_fields(form_check) }}
  {{ lib.form_end(form_check, submit_title='Check', cancel_title='Close', cancel=url('fe_dashboard_software')) }}
{{ lib.modal_end(submit=None, cancel_title=None) }}

{{ lib.modal_start('appUpdate', 'Update') }}
  <strong>Do you want to start an update to a given version?</strong>
  {{ lib.form_start(form_update, csrf_input) }}
  {{ lib.form_fields(form_update) }}
  {{ lib.form_end(form_update, submit_title='Update', cancel_title='Close', cancel=url('fe_dashboard_software')) }}
{{ lib.modal_end(submit=None, cancel_title=None) }}

{% endblock %}
