{% extends "frontend/base.setup.mode.html" %}

{% block content_setup_mode %}
<div class="tab-content" id="ex1-content">
  <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
    {{ lib.note('Show media only and configure in the cloud', 'info') }}
    This will include the following components:
    <ul>
      <li>frontend - the application showing the media on the local display</li>
    </ul>

    {{ lib.form_start(form, csrf_input) }}
    {{ lib.form_fields(form) }}
    {{ lib.form_end(form, submit_title='Apply', cancel_title='Back', cancel=url('fe_index')) }}
  </div>
</div>
{% endblock %}
