{% extends "frontend/base.html" %}

{% block content %}
  <div id="setup" class="text-center text-muted">
    {% if message == 'config.save' %}
       Reloading configuration ...
    {% elif message == 'device.restart' %}
       Restarting application ...
    {% else %}
       Starting up ...
    {% endif %}
  </div>

  <div id="status" class="pt-5 pb-5 text-center">
    <div id="status-setup">{{ lib.status_icons('float-none fs-1 fa-spin', '') }}</div>
  </div>
  <div id="continue" class="pt-5 pb-5 text-center d-none">
    <a href="{% if return %}{{ return }}{% else %}{{ url('fe_index') }}{% endif %}" class="btn btn-primary">Continue</a>
  </div>

  {{ lib.status_script('setup', 'setup_status', wait, negate) }}

  <script type="text/javascript">
    function setup_status(status, data) {
      const message = '{{ message }}';
      if (status == 'success') {
        let setupElement = window.document.getElementById('setup');
        setupElement.innerHTML = message == '' ? 'Startup complete!' : setupElement.innerHTML += ' completed!';
        let statusElement = window.document.getElementById('status');
        statusElement.className += ' d-none';
        let continueElement = window.document.getElementById('continue');
        continueElement.className = continueElement.className.replace('d-none', '');
      }
    }
  </script>
{% endblock %}
